{% extends 'principal.html' %}

{% block contenido %}
    <h1>Resultados de la Búsqueda Avanzada</h1>

    {% if usuarios_mostrar %}
        <h2>Usuarios encontrados:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Fecha de Registro</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios_mostrar %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td>{{ usuario.fecha_registro }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron usuarios que coincidan con los criterios de búsqueda.</p>
    {% endif %}
{% endblock %}
